html {
  background-image: url("IMG_0847.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  /*background-color: rgb(0,0,0,);*/
}

h1 {
  font-size: 1.5cm;
  text-decoration: underline;
}

.header {
  text-align: center;
  /*font-family: Cursive;*/
  font-family: 'Indie Flower', cursive;
}

.side_pics {
  text-align: right;
  float: right;

}

img {
  max-height: 10cm;
  max-width: 9cm;
  /*display: inline-block;*/
}

div div {
 display: block;
 padding-bottom: 5%;
}

#bpic {
  padding-top: 2em;
  padding-left: 1em;
  /*background-color: rgba(0,0,0,0.7);*/
  /*text-align: center;*/
}

.footer {
  text-align: center;
}

#pic {
  padding-bottom: 2.1em;
}

.main {
  outline-width: 1cm;
  outline-style: ridge;
  background-color: rgba(0,0,0,0.4);
  margin-right: 35%;
  color: white;
  margin-left: 1cm;
  padding: 0.4cm;
  font-size: 0.8cm;
  font-family: 'Indie Flower', cursive;
  margin-bottom: 1cm;
}

div h4 {
  font-family: 'Indie Flower', cursive;
  text-align: center;
  color: white;
}

