@media (max-width:479px){

h1 {
  text-align: center;
  text-decoration: underline;
  margin-top: 1em;
  color: #0dceff;
}

ul {
  list-style: none;
  display:inline-block;
  position: relative;
  margin-left: -1cm;
}

li {
  float: left;
  border-left: 1px solid black;
  background-color: rbga(0,0,0,0.2);
  /*margin-right: 1cm;*/
  height: 3.2cm;
  width: 2.4cm;
  text-align: center;
  font-family: impact;
  padding-top: 1.5cm;
  font-size: 0.5cm;
  /*margin-left: -0.9cm;*/
}

/*h2 {
  border: 2px solid black;
  display: inline-block;
  text-align: center;
}*/

div div div img {
  position: relative;
  max-height: 100%;
  max-width: 100%;
}

.mobile_top {
  /*background-color: #d8f3ff;*/
  /*background-image: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRGPY7wHj7MuGAO07AAdF2oL4zUpATXZpoTxM6YroXKgX5tADIMXA");*/
  background-position:center;
  background-size: cover;
  height: 8em;
  width: auto;
  margin-top:cm;
  text-shadow:1px 1px #ffffff;
  /*position: fixed;*/


}

.mobile_body {
  height: 100%;
  /*position: relative;*/
  display: block;
  margin-top: 1cm;
  position:

}

.mobile_foot {
  background-color: white;
  background-color: #3b747f;
  height: 10em;
  margin-top:;
  background-image: url("http://i1382.photobucket.com/albums/ah251/zimmermanw/sky2bottom_zps1d44a9cd.png");
  background-size: cover;
  background-position: center;
  position: fixed;

}

}

/*end of mobile layout*/

body {
  /*background-color: black;*/
}